<!-- coded by Romi shah  -->
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Millions of people worldwide trust Finder to help them make better decisions. We can help you too. We understand that making everyday life decisions such as finding good brands, buying good stuff and getting discounts can be daunting. That’s why we’re
      here. Our goal is to help you navigate those complex decisions by making them less of a chore (and hopefully less of a bore, too!).
  </p>
</div>