<div><br><br><br><br><br>
  <h2 class="text-center"> List of Products </h2>
  <div *ngFor="let product of myProducts;" class="col-xs-4 col-md-4">
      <a class="no-underline" routerLink="/products/{{ product._id }}">
          <div class="product-boundry">
              <b>Name:</b> {{ product.title }} <br>
              <b>Description:</b> {{ product.description }}<br>
              <b>Price:</b> ${{ product.price }}<br>
          </div>
      </a>
  </div>
  <div class="create-btn">
      <a href="/create" class="text-center">
          <button class="btn btn-info">Add new product</button>
      </a>
  </div>
</div>
<br><br><br><br>