<footer>
    <a id="toTop" [routerLink]="" (click)="scrollToTop()">Back to top</a>
    <section>
        <div class="box-container">
            <div class="box">
                <h3>about us</h3>
                <p>This is the website where we offer multiple varieties at reasonable prices.</p>
            </div>
            <div class="box">
                <h3>Customer Service</h3>
                <a href="#">Email Us</a>
                <a href="#">Track your Order</a>
                <a href="#">FAQ's</a>
                <a href="#">Shipping Info</a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#">facebook</a>
                <a href="#">instagram</a>
                <a href="#">twitter</a>
            </div>
        </div>

        <h1 class="credit"> <span> CartApp | Copyright &copy; 2022 | all rights reserved! </span> </h1>
    </section>

</footer>